.layout-column-widths-custom {

  .fieldset-wrapper {
    display: flex;

    > * {
      flex: 0 1 33.333%;
    }

    > *:not(:last-child) {
      padding-right: 1rem;
    }
  }
}

.node-form {
  .hidden {
    display: none;
  }
}

/* Override "seven" theme's rule for help text in admin forms. */
ul.tips,
div.description,
.form-item .description {
  margin: 0.5rem 0 1rem;
  color: #595959;
  font-size: 0.95em;
  font-style: italic;
}
