/**
 * @file
 * Styles for the Featured Link component.
 */

.au-body {

  .featured-link {

    // Container.

    &--plain-large {
      vertical-align: top;
      position: relative;
      margin: 0 0 1rem;
      padding: 1.5rem;
      background: #f1f1f2;
    }

    &--plain-large-dark {}

    &--plain-large-light {}

    // Link.

    &__link {
      font-weight: 700;
      font-size: 1.15rem;
      line-height: 1.2;
    }

    &__link--plain-large {}

    &__link--plain-large-light {}

    &__link--plain-large-dark,
    &__link--plain-large-dark:link,
    &__link--plain-large-dark:visited,
    &__link--plain-large-dark:hover,
    &__link--plain-large-dark:active {
      color: $white;
    }

    // Summary.

    &__summary {}

    &__summary--plain-large {}

    &__summary--plain-large-light {}

    &__summary--plain-large-dark {
      color: $white;
    }
  }
}
