// Size of gutter between grid items.
$grid-gutter-size: 1rem;

.au-body {

  .health-grid > * + p {
    margin-top: 0;
  }
}

.health-grid {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: flex-start;

  > * {
    box-sizing: border-box;
    flex-basis: 100%;
    -ms-flex: auto;
    margin-bottom: $grid-gutter-size;
    padding: 1rem;
  }

  > img {
    padding: 0;
  }

  &--1col-xs {

    > * {
      @include AU-media(xs) {
        flex-basis: health-grid-item-width();
        -ms-flex: auto;
      }
    }

    > img {
      @include AU-media(xs) {
        max-width: health-grid-item-width();
      }
    }
  }

  &--1col-sm {

    > * {
      @include AU-media(sm) {
        flex-basis: health-grid-item-width();
        -ms-flex: auto;
      }
    }

    > img {
      @include AU-media(sm) {
        max-width: health-grid-item-width();
      }
    }
  }

  &--1col-md {

    > * {
      @include AU-media(md) {
        flex-basis: health-grid-item-width();
        -ms-flex: auto;
      }
    }

    > img {
      @include AU-media(md) {
        max-width: health-grid-item-width();
      }
    }
  }

  &--1col-lg {

    > * {
      @include AU-media(lg) {
        flex-basis: health-grid-item-width();
        -ms-flex: auto;
      }
    }

    > img {
      @include AU-media(lg) {
        max-width: health-grid-item-width();
      }
    }
  }
}

@for $index from 2 through 8 {
  .health-grid--#{$index}col-xs {

    > * {
      @include AU-media(xs) {
        flex-basis: health-grid-item-width($index, $grid-gutter-size);
        -ms-flex: auto;
        margin-right: $grid-gutter-size;
      }
    }

    > *:nth-child(#{$index}n + #{$index}) {
      @include AU-media(xs) {
        margin-right: 0rem;
      }
    }

    > img {
      @include AU-media(xs) {
        max-width: health-grid-item-width($index, $grid-gutter-size);
      }
    }
  }

  .health-grid--#{$index}col-sm {

    > * {
      @include AU-media(sm) {
        flex-basis: health-grid-item-width($index, $grid-gutter-size);
        -ms-flex: auto;
        margin-right: $grid-gutter-size;
      }
    }

    > *:nth-child(#{$index}n + #{$index}) {
      @include AU-media(sm) {
        margin-right: 0rem;
      }
    }

    > img {
      @include AU-media(sm) {
        max-width: health-grid-item-width($index, $grid-gutter-size);
      }
    }
  }

  .health-grid--#{$index}col-md {

    > * {
      @include AU-media(md) {
        flex-basis: health-grid-item-width($index, $grid-gutter-size);
        -ms-flex: auto;
        margin-right: $grid-gutter-size;
      }
    }

    > *:nth-child(#{$index}n + #{$index}) {
      @include AU-media(md) {
        margin-right: 0rem;
      }
    }

    > img {
      @include AU-media(md) {
        max-width: health-grid-item-width($index, $grid-gutter-size);
      }
    }
  }

  .health-grid--#{$index}col-lg {

    > * {
      @include AU-media(lg) {
        flex-basis: health-grid-item-width($index, $grid-gutter-size);
        -ms-flex: auto;
        margin-right: $grid-gutter-size;
      }
    }

    > *:nth-child(#{$index}n + #{$index}) {
      @include AU-media(lg) {
        margin-right: 0rem;
      }
    }

    > img {
      @include AU-media(lg) {
        max-width: health-grid-item-width($index, $grid-gutter-size);
      }
    }
  }
}
