<a
  class="
    health-card
    health-card--centered
    health-card--shadow
    health-card--top-highlight
    health-card--cta
    colour1
  "
  href="{{ url }}"
>
  <div class="health-card__image">
    {{ image }}
  </div>
    <h3 class="health-card__title au-display-md au-display--heavy">
      {{ title }}
    </h3>
</a>
