{% extends '@paragraphs/paragraph.html.twig' %}

{% block paragraph %}

  {% if content.field_h_title %}
    {{ content.field_h_title }}
  {% endif %}

  {% if content.field_h_summary %}
    <p>{{ content.field_h_summary }}</p>
  {% endif %}

  {% include "@health/custom/health-iframe.html.twig" with {
    "iframe_classes": iframe_classes,
    "iframe_title": iframe_title,
    "iframe_source": iframe_source,
    "iframe_geolocation": iframe_geolocation
  } %}

{% endblock %}
